<!DOCTYPE html>
<html>
<head	<title>CSS Playground</title>

	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>


  <h1>CSS Notes</h1>
  <div class="css-basics">
    <h3>Purpose of CSS</h3>
      <ul>
        <li>To give the outside of the site a unique look and feel.</li>
        <li>To alter colors, fonts, backgrounds, etc.</li>
        <li>To implement some effects and animations, although it's not as powerful as jQuery.</li>
      </ul>
  </div>
​
  <div class="css-statements">
    <h2>CSS Statements</h2>
      <p>Four main components include the following: </p>
        <ol> 
          <li><b>Declaration:</b>the statement as a whole with curly braces.</li> 
          <li><b>Selector:</b> the name of the part you want to style.</li>
          <li><b>Property:</b> properties to edit(e.g., width, height, background, etc.)</li>
          <li><b>Value:</b> numbers, colors, urls - values that we assing. </li>
        </ol>
      <p>Here's a good photo to illustrate these items:</p>

   <img src="https://mdn.mozillademos.org/files/3665/css%20syntax%20-%20declaration.png">
  
 
<div class="margins-padding">
    <h2>CSS Margins & Padding</h2>
    <h3>Margin Experiment 1</h3>
      <p id="margin-experiment"></p>
<p id="margin-experiment"></p>
<br>
 <h3>Margin Experiment 2</h3>

<p id="margin-experiment2"></p>
  <p id="margin-experiment2"></p>
    
  <h3>Padding</h3>

      <p>Remember that padding is inside the margins and border. You can set the margin for divs, h's, p's, etc., but you will be inside the margins.</p>

    <h4>Padding</h4>
      <p id="padding-experiment">Here is a bunch of text that I'm going to mess around with. I'm going to have all of this be a chunk of text that gets moved around. </p>

  </div>




  </div>
	<div class="face">
  <div class="left-eye">
    <div id="inner-eye"></div>
    <div class="eyebrow"></div>
  </div>
  <div class="right-eye">
    <div id="inner-eye"></div>
    <div class="eyebrow"></div>
  </div>

  <div class="mouth">
  </div>

</body>
</html>
