<!DOCTYPE html>
<html>
<head	<title>Git Notes</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

	<h1>Git Notes</h1>

	<div class="local-remote">
         <h3> Local</h3>
               <ul>
	<li>Locally means that things are happening just on my computer.</li>
		<li>Local commit back up to a local repository and others can't access until we push to a remote.</li>
		</ul>

			<h3> Remote</h3> 
			<ul>
				<li>Remote means your browser connects to a online server.</li>
					<li>Remote  can be accessed by fellow team memebers (private repo) or pubicly(public repo).</li>
					</ul>
				</div>

					


					<h2> Local Set Up</h2>
					<ol>
						<li>Open your command line/terminal.<li>
							<li>Use the cd command to mavigate to your folder. FOr example <b>cd desktop/playground<b>
								<li>Type in <b>git init<b>. This will set up a repository(repo) for you locally<li>
									<li>A message like this should pop up: "Initialized empty git repository in dir/filename/stuff/here"<li>






	</body>
	</html>